border-radius() {
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
}

body {
    background lightyellow
    text-align center
    font-family Monaco,'Courier New',monospace
    font-size 4.5em
    line-height 2.7em
    color #666
    font-size 22px
}
  
a.button {
  border-radius(5px)
}

a {
    // color #fff
}